<div class="mb-3 text-center">
  <label for="" class="form-label">Categories</label>
  <select class="form-select form-select-lg" name="categories" id="" [(ngModel)]="selectedCategoryId">
    <option value="-1">all</option>
    @for (item of categories; track item.id) {
    <option [value]="item.id">{{item.name}}</option>
    }

  </select>


</div>
<h3 class="text-center">Total Price: {{totalPrice}}</h3>
<app-products [selectedCategoryId]="selectedCategoryId" (totalPriceChanged)="onTotalPriceChanged($event)"></app-products>